.dashboard-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .dashboard-header {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .dashboard-title {
    color: green;
  }
  .dashboard-actions button {
    padding: 10px 20px;
    margin-right: 10px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 15px;
    transition: background-color 0.5s;
  }
  
  .dashboard-actions button:hover {
    color: black;
    background-color: #e0e0e0;
  }
  
  .update-button {
    background-color: yellow;
  }
  
  .add-button {
    color: white;
    background-color: #1262F9;
  }

  .del-button {
    color: white;
    background-color: red;
  }

  .dashboard-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .dashboard-menu {
    width: 240px;
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
  }
  
  .menu-item {
    margin-bottom: 10px;
    cursor: pointer;
  }
 
  .menu-receita {
    color: green;
    background-color: white;
    border: 1px solid green;
    padding: 8px 16px;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .menu-gasto, 
  .menu-fatura {
    color: white;
    background-color: #4caf50;
    border: none;
    padding: 8px 16px;
    border-radius: 3px;
    cursor: pointer;
  }
  .menu-sair {
    color: white;
    background-color: red;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .action-button {
    margin-bottom: 10px;
    padding: 8px 16px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .dashboard-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .dashboard-table th,
  .dashboard-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .dashboard-table th {
    background-color: #4caf50;
    color: white;
  }

  /* Estilos para o modal */
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Fundo escuro com opacidade */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    background-color: white;
    padding: 30px; 
    border-radius: 15px; 
    width: 400px; 
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .modal-content h2 {
    color: green;
    margin-bottom: 20px; /* Espaçamento abaixo do título */
  }
  
  label {
    margin-bottom: 10px; /* Espaçamento abaixo dos labels */
  }
  
  input {
    padding: 10px;
    margin-bottom: 15px; /* Espaçamento abaixo dos inputs */
  }
  
  button {
    padding: 10px 20px;
    margin-right: 10px;
    border: 2px solid transparent; 
    border-radius: 15px;
    cursor: pointer;
  }
  
  button.cancelar-button-model {
    background-color: white;
    color: red;
    border-color: red; 
  }
  
  button.add-button-model {
    background-color: white;
    color: green;
    border-color: green;
  }
  
  